.red {
  background-color: red;
  border: 1px solid red;
  color: red;
}
body {
  background-color: red;
  border: 1px solid red;
  color: red;
}
ul {
  background-color: #008000;
  border: 1px solid #008000;
  color: #008000;
}
ol {
  background-color: #0094ff;
  border: 1px solid #0094ff;
  color: #0094ff;
}
